<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <span>Spoyl-SSR-Project</span>
    <span>|</span>
    <span class="nav"><a href="/">Home</a></span>
  </div>
  <div class="main">
    ​
    <div class="container">
      <div class="group">
        <form method='POST' action='/post'>
          <input type="text" name="searchTerm" value=<%= query%> required>
          <button class="btn" type="submit">
            <span>Search</span>
          </button>
          <span class="bar"></span>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-success"> 
          <p class="info">Showing <%= imageData.results.length %> results for your search "<%= query%>"</p>
      </div>
        
    </div>

    <div class="container-grid">
      <% for(var i=0; i<imageData.results.length; i++){ %>
      <div class="holder holder-1">
      <img src=<%= imageData.results[i].urls.thumb %> class="thumb">
        <span class="likes"><%= imageData.results[i].likes %> Likes</span>
        <span class="user"><%= imageData.results[i].user.name %> </span>
        <img class="profilePic" src=<%= imageData.results[i].user.profile_image.medium %>>
      </div>
        
        <% }%>
    </div>
  </div>

</body>

</html>